<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/pokemon">Pokémon</a></li>
        </ul>
    </nav>
</header>