<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simon's Wiki</title>

    <%- include('partials/common-head') %>
</head>
<body>
<main>
    <%- include('partials/header') %>

    <%- include('components/article', {article: {...about.article}}) %>
</main>
<%- include('partials/footer', {...footer}) %>
</body>
</html>