<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simon's Wiki</title>

    <%- include('partials/common-head') %>
</head>
<body>
<main>
    <%- include('partials/header') %>

    <h1>Home</h1>
    <p>
        This website is the product of the Mandatory I assignment in Fullstack Node.js.
        The goal was to create a website that features some notes on the topics covered
        so far, while achieving most or all of the requirements below.
    </p>

    <p>
        The technical requirements for the assignment was to:
    </p>
    <ul>
        <li>Use the Express.js web server library</li>
        <li>to create server-side rendered (SSR) html</li>
        <li>that is organised into a few different pages</li>
        <li>and put some effort into styling it nicely.</li>
    </ul>
    <p>
        The requirements for functionality was to:
    </p>
    <ul>
        <li>Have a page dedicated to signing up and signing in as a user</li>
        <li>thus giving the user access to an admin panel</li>
        <li>that can create new pages of documentation.</li>
    </ul>
    <p>
        Lastly, the documentation has to include:
    </p>
    <ul>
        <li>Terminal snippets,</li>
        <li>code snippets,</li>
        <li>explanations of the tools we have used in class,</li>
        <li>and talk about the theory we've covered in class.</li>
    </ul>



</main>
<%- include('partials/footer', {...footer}) %>
</body>
</html>