<nav>
    <a href="/">
        <img src="/images/clippy.webp" alt="Clippy" title="Clippy watches you in your sleep." height="80px">
    </a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/wiki/">Wiki</a></li>
        <li><a href="/auth/">Auth</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="https://github.com/simo95i9/fullstack-nodejs-semester-project/tree/main/8-mandatory-personal-wiki" target="_blank">GitHub ↗</a></li>
    </ul>
</nav>
