<nav>
    <a href="/">
        <img src="/images/clippy.webp" alt="clippy" height="80px">
    </a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/wiki/">Wiki</a></li>
        <li><a href="https://github.com/simo95i9/fullstack-nodejs-semester-project/tree/main/8-mandatory-personal-wiki" target="_blank">GitHub</a></li>
    </ul>
</nav>
