<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index stuff</title>

    <%- include('partials/common-head-tags') %>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <article>
            <h1>Index stuff</h1>
            <p>Blah blah blah</p>
        </article>
    </main>
    <%- include('partials/footer') %>
</body>
</html>