<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokémon Battle</title>

    <%- include('partials/common-head-tags') %>

    <style>
        .\31x1 {
            width: 100%;
            height: auto;
            object-fit: contain;
            aspect-ratio: 16 / 9;
        }
    </style>

    <% if (locals?.pokemon) { %>
        <script>
            pokemonsfromserver = <%- "[" + pokemon.map(p => `"${p}"`).join(", ") + "]" %>
        </script>
    <% } %>

    <script type="module" src="/script/index.js"></script>
</head>
<body>
<%- include('partials/header') %>
<main>
    <h1>Pokémon stuff</h1>
    <section id="pokemon" >
    </section>

</main>
<%- include('partials/footer') %>
</body>
</html>